#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>


 / {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";   // 1 = COL2ROW, 0 = ROW2COL

        row-gpios = <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios = <&pro_micro 14 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 16 GPIO_ACTIVE_HIGH>,
                    <&pro_micro 10 GPIO_ACTIVE_HIGH>;
    };

    transform0: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <2>;
        columns = <3>;

        map = <
            RC(0,0)  RC(0,1)  RC(0,2)
            RC(1,0)  RC(1,1)  RC(1,2)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "KB3X2";

        transform = <&transform0>;

        keys = <
            &key_physical_attrs 100 100   0   0 0 0 0
            &key_physical_attrs 100 100 100   0 0 0 0
            &key_physical_attrs 100 100 200   0 0 0 0

            &key_physical_attrs 100 100   0 100 0 0 0
            &key_physical_attrs 100 100 100 100 0 0 0
            &key_physical_attrs 100 100 200 100 0 0 0
        >;
    };
};