#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        bt_actions: bt_actions {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_DISC 0>
                = <&macro_wait_time 100>
                = <&bt BT_SEL 0>
                = <&macro_wait_time 100>
                = <&bt BT_CLR>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer{
            display-name = "Base";
// ----------------------------------------------
// | 清除BT配對 | Windows截圖 | 切換 Layer 1 |
// | Ctrl+C    | Ctrl+V      | Ctrl+Z     |

            bindings = <
                &bt BT_CLR_ALL    &bt_actions     &to 1
                &kp LC(C)         &kp LC(V)       &kp LC(Z) 
            >;
        };

        wasd { // Layer 1
            display-name = "WASD";
// ----------------------------------------------
// | Esc  | Up   | 切換 Layer 0 |
// | Left | Down | Right        |

            bindings = <
                &kp ESC     &kp W      &to 0
                &kp A       &kp S      &kp D
            >;
        };
    };
};